{% extends "main.html" %} {% block content %} {% include "header.html" %}

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/">Category</a></li>
                    <li><a href="{{url_for('showSubCategory',subcategoryid = category.id)}}">{{category.name}}</a></li>
                    <li><a href="{{url_for('showItemCategory',itemcategoryid = subcategory.id)}}">{{subcategory.name}}</a></li>
                    <li><a href="{{url_for('showItems',itemcategoryid = item.itemcategoryid)}}">{{itemcategory.name}}</a></li>
                    <li class="active"><a href="{{request.path}}">{{item.name}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <div class="profile">
                        <p class="profile-message">
                            <a href="/fbdisconnect">sign out</a>
                        </p>
                        <img class="img-responsive" img src="{{picture}}" alt="profile picture" width="50" height="50" />
                    </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="container top-margin">
            <h1 class="display-1">{{item.name}}</h1>
            <div class="col-md-6 item-description">
                <img class="img-thumbnail img-responsive" <img src={{ url_for( 'static', filename=i tem.picture) }} alt="{{ item.name }}" />
            </div>
            <div class="col-md-4 item-description">
                <dl class="dl-horizontal">
                    <dd></dd>
                    <dd>
                        <h4>
                            <strong>{{item.name}}</strong>
                        </h4>
                    </dd>
                    <dt>Description:</dt>
                    <dd>{{item.description}}</dd>
                    <dt>Price:</dt>
                    <dd>
                        <strong>{{item.price}}</strong>
                    </dd>
                    <dt>Item Owner:</dt>
                    <dd>{{owner}}</dd>
                    <dt>Page Ranking</dt>
                    <dd>2</dd>
            </div>
            <div class="col-md-3">
                <div class="btn-group-justified">
                    <a href="{{url_for('editItem',itemid = item.id)}}" " class="btn btn-default " role="button ">edit</a>
		<a href="{{url_for( 'deleteItem',itemid=i tem.id)}} "" class="btn btn-danger" role="button">delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}