/* Customize bootstrap settings and layout*/

.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    position: absolute;
    width: 100%
}

.jumbotron {
    margin-bottom: 0;
}

footer {
    background-color: #f2f2f2;
    padding: 25px;
}

.top-margin {
    margin-top: 80px;
}

.img-category {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.category-panel {
    width: 100px;
}

.col-sm-3 {
    -webkit-transition: all 0.5s ease;
    opacity: 0.7;
}

.col-sm-3:hover {
    background-color: black;
    opacity: 1;
}

.btn-custom-add-button {
    display: inline;
}

.profile-message {
    color: white;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}

.fb_iframe_widget {
    margin-top: 13px;
    margin-right: -10px;
}

.messages {
    float: left;
    position: absolute;
    margin-top: 30px;
}

.panel-primary {
    margin-top: 15px;
}

.panel-heading {
    font-size: 25px;
}

.panel-primary {
    -webkit-transition: all 0.5s ease;
    clear: left;
    box-shadow: 0 1px 30px #000;
}

.panel-primary:hover {
    clear: left;
    box-shadow: 0 1px 2px #000;
}

.custom-panel:hover:not(.active) {
    background-color: black;
    color: black;
    opacity: 0.5;
}

.active {
    background-color: dodgerblue;
    opacity: 0.5;
}