
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<body>
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar2">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
            </button
            <a class="navbar-brand" href="#"></a>
         </div>
         <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
				<li><a href="/">Category</a></li>
               <li><a href="{{url_for('showSubCategory',subcategoryid = category.id)}}">{{category.name}}</a></li>
			   <li><a href="{{url_for('showItemCategory',itemcategoryid = subcategory.id)}}">{{subcategory.name}}</a></li>
			   <li><a href="{{url_for('showItems',itemcategoryid = itemcategory.id)}}">{{itemcategory.name}}</a></li>
               <li class="active"><a href="{{request.path}}">new item </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <div class="profile">
                  <p class="profile-message">
                     <a href="/fbdisconnect">sign out</a>
                  </p>
                  <img class="img-responsive" img src="{{picture}}" alt="profile picture" width="50" height="50" />
               </div>
            </ul>
         </div>
      </div>
   </nav>
   <div class="container">
      <div class="container top-margin">
         <h1 class="display-1">add <strong>new item</strong></h1>
         <div class="col-md-6 item-description">
            <form action="{{ url_for('addItem',categoryid=category.id,subcategoryid=subcategory.id,itemcategoryid=itemcategory.id)}}" method = 'post' enctype="multipart/form-data">
				<h3 class="display-4">Name:</h3>
			    <div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1"></span>
					<input type="text" class="form-control" placeholder="name" name="name" aria-describedby="sizing-addon1">
				</div>
				<h3 class="display-4">Price:</h3>
			    <div class="input-group input-group-lg">
					<span class="input-group-addon" id="sizing-addon1"></span>
					<input type="text" class="form-control" placeholder="50$" name="price" aria-describedby="sizing-addon1" id="price">
				</div>
				<h3 class="display-4">Description:</h3>
				 <div class="form-group">
					<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="this item should have a description" name="description"></textarea>
				</div>
               <br>
			   <h3 class="display-4">Upload a picture</h3>
               <input type="file" name="file">
               <br>
               <input type="submit" class="btn btn-success" value="Create">
               <a href="{{url_for('showSubCategory',subcategoryid = category.id)}}" class="btn btn-danger" role="button">Cancel</a>
            </form>
         </div>
      </div>
   </div>
   {% endblock %}